<div class="container">
  <div class="d-flex align-items-end">
    <h2 class="mt-3 fw-bold">ユーザー一覧</h2>
    <div class="ms-auto">
      <%= link_to search_users_path, class:"link-secondary" do %>
        <i class="fas fa-external-link-alt me-1"></i><span>詳細検索</span>
      <% end %>
    </div>
  </div>
  <%= render 'user/shared/user_list' %>
  <%= paginate @users %>
</div>