<div class="about_image"></div>
<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h2 class="fw-bolder p-5 text-center">あなたのライドが、誰かの楽しみに繋がる</h2>
      <h1>About<span class="fw-bolder ms-3">FUN CYCLE</span></h1>
      <p class="mt-4 fs-5 fw-bold">自転車はライフスタイルを充実させる最高のパートナーです。</p>
      <p class="mt-2">
        そんなパートナーを手に入れたサイクリスト同士が、
        サイクリングを通して出会った景色や道、お店等のサイクリングスポットを共有するサイトです。
      </p>
      <p class="mt-2">
        サイクリングの醍醐味は<span class="fs-5 fw-bold">街を楽しむこと。</span><br>
        しかし、いざスポーツバイクを買っても、走る場所がわからない・目的地が決められない、一緒に走る仲間がいない...<br>
        こうした理由で、サイクリングの楽しさを十分に見いだせないサイクリストも多いと思います。
      </p>
      <p class="mt-2">
        このサイトを通して、サイクリングの楽しさを発見、共有することで
        より多くのサイクリストのサイクリングライフが充実する
        <span class="fs-5 fw-bold">幸せのサイクル</span>が生まれることを願っています。
      </p>
    </div>
    <div class="col-12 mt-4">
      <h2 class="fw-bolder">Values</h2>
      <div class="border bg-light p-4">
        <h3 class="fw-bolder fst-italic text-decoration-underline mb-4">サイクリングスポットの発見</h3>
        <h5 class="fw-bold mb-4">自転車は街を楽しむ最高のパートナー</h5>
        <p>街にはささやかだけど心に豊かさを与える素敵な要素が溢れています。<br>
        出会った道・景色・お店などサイクリストに嬉しい情報を共有しましょう！</p>
      </div>
      <div class="border bg-light mt-3 p-4">
        <h3 class="fw-bolder fst-italic text-decoration-underline mb-4">サイクリストとの繋がり</h3>
        <h5 class="fw-bold mb-4">仲間との出会いは最高のサイクリングに繋がる</h5>
        <p>仲間と走るとその体験を共有できる喜びがあります。<br>
        走る地域、好きな走り方などで自分と同じような仲間を見つけましょう！</p>
      </div>
    </div>
  </div>
  <h2 class="mt-5 fw-bolder">Administrator</h2>
  <div class="row row-cols-1 row-cols-md-2 mt-3">
    <div class="col col-md-6 mt-3">
      <div class="about_image2"></div>
    </div>
    <div class="col col-md-6 mt-3">
      <div class="h-100 p-4">
        <p>スポーツバイク歴１０年</p>
        <p>自転車ツーリングからスポーツバイクに乗るようになり、日本全国を自転車で旅行。</p>
        <p>サイクリングで様々な街に赴き、景色を見たり、美味しいご飯を食べることが好き。</p>
        <p>峠道を登り、景色を眺め、美味しいご飯を食べ、温泉に入って帰るのが至福の楽しみ方。</p>
      </div>
    </div>
  </div>
</div>