<div class="text-center mt-5 py-4" id="footer">
  <div>
    <%= link_to image_tag("logo.jpg", size: "150x60"), root_path, class:"navbar-brand" %>
  </div>
  <p><%= link_to "About us", about_path, class:"link-light" %></p>
  <p class="text-light">©Copyright2021 FUN-CYCLE All Rights Reserved.</p>
</div>